*{
   font-family: 'Comfortaa', cursive;
   box-sizing: border-box;
}
 html , body {
   padding: 0;
   border: 0;
   margin: 0;
   width: 100%;
   /* background-image: linear-gradient(#FF7B00,#FF2700); */
 }
 header , nav ,div ,section, photos ,footer , article.tupperware{
 display: flex;
 justify-content: center;
 align-items: center;
}
 header{
   height: 100px;
   width: 100%;
   background-image: linear-gradient(#D500FF,#FF00E3);
   justify-content:space-between;
 }
 div.logo{
   font-family: 'Kanit', sans-serif;
   font-size: 2.3rem;
   margin: 20px;
 }
 nav{
   height: 100%;
   margin-right: 20px;
 }
 div.nav{
   font-size: 1.5rem;
   height: 100%;
   width: 120px;
 }
 div.nav:hover{
   background-color: whitesmoke;
 }
 a{
   text-decoration: none;
   color: black;
 }
 section.sec_head{
   height: 400px;
   background-image: url("images/Tupperware-Main-banner.jpg");
   flex-flow: column;
 }
 h1.section{
   font-size: 4rem;
   /* color: #FF7B00; */
   color: whitesmoke;
   font-family: 'Kanit', sans-serif;
  text-shadow: 5px 5px  #FF7B00;
  text-align: center;
 }
 h2.section{
   font-size: 2rem;
   color: #D500FF;
   transition: transform .5s;
   text-shadow: 2px 2px  #342D87;
   342D87
 }
 h2.section:hover{
   transform: scale(1.5);
 }

 div.vid{
   height: 230px;
   width: 330px;
   background-image: linear-gradient(#FF7B00,#FF2700);
   margin: 10px;
   border-radius: 3px;
 }

 article{
   background-color: #dd33bb;
   background-image: url("svg/Bermuda-Square.svg");
   background-attachment: fixed;
   background-size: cover;
 }
 img.product{
   height: 600px;
   width: 400px;
   border-radius: 20px;
   margin: 20px;
   padding: 20px;
   background-image: linear-gradient(#FF7B00,#FF2700);
 }
 section.article_sec{
   height: 300px;
   width: 100%;
   flex-direction: column;
   background-image: linear-gradient(to right , #00DAFF , #00EAB4);
 }
 h1.contact{
   font-family: 'Kanit', sans-serif;
   font-weight: 500;
   color: whitesmoke;
   font-size: 3rem;
   text-align: center;
 }
.svg_whatsapp {
  height: 80px;
  width: 80px;
}
 footer{
   height: 100px;
   background-color: whitesmoke;
   padding: 15px;
 }
