@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@media (min-width: 1024px) {
  html {
    font-size: 18px;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 300px) {
  html {
    font-size: 10px;
  }
}

body {
  position: relative;
}

@media (min-width: 1024px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-image: -webkit-gradient(linear, left top, right top, from(#8dc8de), to(#47c6e667));
    background-image: linear-gradient(to right, #8dc8de, #47c6e667);
    background-size: cover;
  }
}

.left__side {
  height: 100vh;
  width: 100%;
}

@media (min-width: 1024px) {
  .left__side {
    -webkit-box-flex: 0.5;
        -ms-flex: 0.5;
            flex: 0.5;
  }
}

.map__container {
  height: 100%;
}

@media (min-width: 1024px) {
  .map__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 20px;
    height: 100%;
    width: 100%;
  }
}

#map {
  height: 100%;
  width: 100%;
}

@media (min-width: 1024px) {
  #map {
    height: 95%;
    width: 95%;
  }
}

.markup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 13rem;
  min-width: 11rem;
  border-radius: 15px;
  background-position: center;
  background-size: cover;
  background-image: url("https://image.freepik.com/free-vector/suburban-house-illustration_33099-2357.jpg");
}

@media (min-width: 1024px) {
  .markup {
    min-height: 15rem;
    min-width: 13rem;
  }
}

.markup .card__info {
  height: 40%;
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.719);
}

.markup .card__info .card__houseLocation {
  font-weight: 400;
  font-size: 0.8rem;
  width: 90%;
  height: 50%;
}

.markup .card__info .card__houseName {
  font-weight: 700;
  font-size: 0.9rem;
}

.markup .card__info .card__priceInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.markup .card__info .card__priceInfo .card__priceAmount {
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
}

.markup .card__info .card__priceInfo .card__nights {
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 400;
}

.right__side {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1024px) {
  .right__side {
    pointer-events: auto;
    position: static;
    -webkit-box-flex: 0.5;
        -ms-flex: 0.5;
            flex: 0.5;
    height: 100vh;
  }
}

.search-filters {
  width: 100%;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 30px;
}

@media (min-width: 1024px) {
  .search-filters {
    margin-top: 50px;
  }
}

.search-filters .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: auto;
}

.search-filters .search .search__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 3.5rem;
  min-width: 15rem;
  max-width: 35rem;
  padding: 10px 20px;
  background-color: white;
  border-radius: 45px;
  -webkit-box-shadow: 8px 8px 6px #464646;
          box-shadow: 8px 8px 6px #464646;
}

.search-filters .search .search__bar .search__input {
  height: 100%;
  width: 80%;
  border-radius: 15px 0 0 15px;
  padding: 5px;
  outline: none;
  border: none;
  font-size: 1.2rem;
}

.search-filters .search .search__bar .search__btn {
  font-size: 1.4rem;
  color: #3e8ce5;
  background-color: white;
  border: none;
  cursor: pointer;
}

.search-filters .search .search__adjust {
  font-size: 1.4rem;
  margin: 0 30px;
  padding: 10px;
  color: #3e8ce5;
  background-color: white;
  -webkit-box-shadow: 8px 8px 6px #464646;
          box-shadow: 8px 8px 6px #464646;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.search-filters .refresh__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.8rem;
  min-width: 7rem;
  margin: 10px 30px;
  pointer-events: auto;
  padding: 10px;
  color: white;
  background-color: #3e8ce5;
  border-radius: 15px;
  -webkit-box-shadow: 4px 4px 6px #464646;
          box-shadow: 4px 4px 6px #464646;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.search-filters .refresh__bar .fa-redo-alt {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px;
}

@media (min-width: 1024px) {
  .search-filters .refresh__bar {
    margin: 20px 30px;
  }
}

.search-filters .filters {
  pointer-events: auto;
}

.search-filters .filters .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}

.search-filters .filters .filter label {
  text-align: center;
  width: 70px;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  background-color: #3e8ce5;
}

@media (max-width: 320px) {
  .search-filters .filters .filter label {
    margin: 3px;
  }
}

.search-filters .filters .filter input {
  width: 5rem;
  padding: 5px;
  border-radius: 10px;
  outline: none;
  border: none;
  -webkit-box-shadow: 8px 8px 6px #464646;
          box-shadow: 8px 8px 6px #464646;
}

.cards__container {
  pointer-events: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  padding: 20px;
  width: 90vw;
}

@media (min-width: 1024px) {
  .cards__container {
    width: 46vw;
  }
}

.cards__container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 13rem;
  min-width: 11rem;
  margin: 1rem;
  border-radius: 15px;
  -webkit-box-shadow: 8px 8px 6px #464646;
          box-shadow: 8px 8px 6px #464646;
  background-position: center;
  background-size: cover;
}

@media (min-width: 1024px) {
  .cards__container .card {
    min-height: 15rem;
    min-width: 13rem;
  }
}

.cards__container .card .card__info {
  height: 40%;
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.719);
  -webkit-box-shadow: 0 -8px 6px #464646;
          box-shadow: 0 -8px 6px #464646;
}

.cards__container .card .card__info .card__houseLocation {
  font-weight: 300;
  font-size: 0.8rem;
  width: 90%;
  height: 50%;
  overflow: hidden;
}

.cards__container .card .card__info .card__houseName {
  font-weight: 500;
  font-size: 0.8rem;
}

.cards__container .card .card__info .card__priceInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards__container .card .card__info .card__priceInfo .card__priceAmount {
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
}

.cards__container .card .card__info .card__priceInfo .card__nights {
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 400;
}

.cards__container::after {
  content: "";
  border-left: 20px solid transparent;
}

.card {
  background-image: url("https://media1.s-nbcnews.com/i/newscms/2018_30/1355945/home-exterior-today-180726-tease_3f99937c609d875fece6a12af1594bd9.jpg");
}

.card1 {
  background-image: url("https://media1.s-nbcnews.com/i/newscms/2018_30/1355945/home-exterior-today-180726-tease_3f99937c609d875fece6a12af1594bd9.jpg");
}

.card2 {
  background-image: url("https://static.onecms.io/wp-content/uploads/sites/37/2016/02/15230656/white-modern-house-curved-patio-archway-c0a4a3b3.jpg");
}

.card3 {
  background-image: url("https://cdn.vox-cdn.com/thumbor/frFQQhOsxl8DctGjkR8OLHpdKMs=/0x0:3686x2073/1200x800/filters:focal(1549x743:2137x1331)/cdn.vox-cdn.com/uploads/chorus_image/image/68976842/House_Tour_Liverman_3D6A3138_tour.0.jpg");
}

.card4 {
  background-image: url("https://hgtvhome.sndimg.com/content/dam/images/hgtv/fullset/2019/2/7/3/BP_HHMTN310_Bolden_home-exterior_AFTER_0132.jpg.rend.hgtvcom.966.644.suffix/1549585070420.jpeg");
}

.card5 {
  background-image: url("https://static.onecms.io/wp-content/uploads/sites/37/2016/02/15230656/white-modern-house-curved-patio-archway-c0a4a3b3.jpg");
}

.hidden {
  display: none;
}

.house__description {
  position: absolute;
  top: 25%;
  left: 25%;
  background-color: white;
  width: 60vw;
  z-index: 4;
}

.overlay {
  position: absolute;
  z-index: 3;
  height: 100vh;
  width: 100vw;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
/*# sourceMappingURL=main.css.map */