* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  color: white;
}

.header {
  height: 100vh;
  background-color: black;
}

.nav {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-100px);
  // animation-fill-mode: forwards;

  animation: navAnimation 1s forwards 1.4s ease;

  .name {
    margin: 10px;
    font-size: 2rem;
  }

  .nav__links {
    display: flex;

    .nav__link {
      margin: 20px;
    }
  }
}

@keyframes navAnimation {
  0% {
    transform: translateY(-100px);
  }
  80% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.header__landing {
  display: flex;

  .header__text {
    @include flex();
    align-items: flex-start;

    flex-direction: column;
    flex: 1;
    color: white;
    font-size: 5rem;
    font-weight: bolder;

    margin: 360px 0 0 100px;

    // online
    @keyframes showTopText {
      0% {
        transform: translate3d(0, 100%, 0);
      }
      40% {
        transform: translate3d(0, 50%, 0);
      }
      60% {
        transform: translate3d(0, 50%, 0);
      }
      95% {
        transform: translate3d(0, -10%, 0);
      }
      100% {
        transform: translate3d(0, 0, 0);
      }
    }
    @keyframes showBottomText {
      0% {
        transform: translate3d(0, -100%, 0);
      }
      90% {
        transform: translate3d(0, 10%, 0);
      }
      100% {
        transform: translate3d(0, 0, 0);
      }
    }
    .animated-title {
      color: rgb(255, 255, 255);
      height: 90vmin;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 90vmin;
    }
    .animated-title > div {
      height: 50%;
      overflow: hidden;
      position: absolute;
      width: 100%;
    }
    .animated-title > div div {
      font-size: 12vmin;
      padding: 2vmin 0;
      position: absolute;
    }
    .animated-title > div div span {
      display: block;
    }
    .animated-title > div.text-top {
      border-bottom: 1vmin solid #000;
      top: 0;
    }
    .animated-title > div.text-top div {
      animation: showTopText 1s ease;
      animation-delay: 0.5s;
      animation-fill-mode: forwards;
      bottom: 0;
      transform: translate(0, 100%);
    }
    .animated-title > div.text-top div span:first-child {
      color: #ffffff;
    }
    .animated-title > div.text-bottom {
      bottom: 0;
    }
    .animated-title > div.text-bottom div {
      animation: showBottomText 0.8s ease;
      animation-delay: 1.5s;
      animation-fill-mode: forwards;
      top: 0;
      transform: translate(0, -100%);
    }

    .header__text1 {
      font-size: 3rem;
    }
    .header__text2 {
      font-size: 6rem;
    }
    .header__text3 {
      font-size: 5rem;
    }

    // online2
  }

  .header__img__container {
    position: relative;
    object-fit: contain;
    flex: 1;
  }

  .header__img {
    position: absolute;
    left: 100px;

    height: 500px;
    object-fit: contain;

    transform: rotate(20deg);
  }
}

// about

.about {
  position: relative;
  height: 50vh;
  @include flex();
  justify-content: flex-start;
  font-size: 3rem;
  font-weight: bolder;
  flex-direction: column;
  padding: 50px;

  .about__text__img {
    position: absolute;
    top: 100px;
    z-index: 1;

    background-color: white;
    // background-color: aqua;
    @include flex();

    height: 150%;
    width: 80%;
    border: 5px solid black;

    .about__text {
      flex: 2;
      font-size: 2.5rem;
      font-weight: 500;
      margin: 0 60 60 60px;
      padding: 60px 50px;
    }

    .about__img__container {
      position: relative;
      flex: 1;
      background-color: #000;
      height: 200px;
      object-fit: cover;

      .about__img {
        position: absolute;
        top: -100px;
        border: 15px solid rgb(255, 255, 255);
        border-radius: 0 0 40px 40px;
      }
    }
  }
}

// projects

.projects {
  position: relative;
  height: 110vh;
  @include flex();
  background-color: black;
  color: white;
  font-size: 3rem;

  .project__heading {
    position: absolute;
    top: 1200px;
  }

  .project {
    position: absolute;
    height: 350px;
    width: 250px;

    background-color: white;
  }

  .project1 {
    top: 600px;
    left: 300px;
  }

  .project2 {
    top: 915px;
    left: 650px;
  }
  .project3 {
    top: 1230px;
    left: 1000px;
  }
  .flip-card {
    background-color: transparent;
    height: 400px;
    width: 300px;
    perspective: 1000px;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    animation: transformAnimationOff 1.4s forwards ease-in-out;
    transform-style: preserve-3d;
  }

  .flip-card:hover .flip-card-inner {
    animation: transformAnimation 1.7s forwards ease-in-out;
  }

  @keyframes transformAnimation {
    0% {
      transform: rotateY(0deg);
    }

    40% {
      transform: rotateY(200deg);
    }
    55% {
      transform: rotateY(160deg);
    }
    70% {
      transform: rotateY(190deg);
    }
    84% {
      transform: rotateY(170deg);
    }
    92% {
      transform: rotateY(185deg);
    }
    100% {
      transform: rotateY(180deg);
    }
  }

  @keyframes transformAnimationOff {
    0% {
      transform: rotateY(180deg);
    }

    40% {
      transform: rotateY(-20deg);
    }
    55% {
      transform: rotateY(16deg);
    }
    70% {
      transform: rotateY(-19deg);
    }
    84% {
      transform: rotateY(17deg);
    }

    92% {
      transform: rotateY(-10deg);
    }
    100% {
      transform: rotateY(0deg);
    }
  }

  .flip-card-front,
  .flip-card-back {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform-style: preserve-3d;
  }

  .flip-card-front {
    color: rgb(255, 255, 255);
    padding: 10px;
  }

  .flip-card1-front {
    background-image: url("https://i.pinimg.com/originals/08/80/99/08809940d40530bfdb457d7a60466657.jpg");
  }
  .flip-card2-front {
    background-image: url("https://img.freepik.com/free-vector/beautiful-gradient-spring-landscape_23-2148448598.jpg?size=626&ext=jpg");
  }
  .flip-card3-front {
    background-image: url("https://image.freepik.com/free-vector/scenery-autumn-forest-with-mountain-sky-illustration_105940-204.jpg");
  }

  .flip-card-front > h1 {
    font-size: 2rem;
    transform: translateZ(60px);
    border: 5px solid rgb(255, 255, 255);
    padding: 0.5em 0.5em;
  }

  .flip-card-back {
    transform: rotateY(180deg);
    padding: 10px;
    background-size: cover;
  }

  .flip-card1-back {
    background-image: url("https://icons8.com/wp-content/uploads/2020/02/digital-illustration-brian-edward-miller.jpg");
  }
  .flip-card2-back {
    background-image: url("https://i.pinimg.com/originals/2c/a5/4f/2ca54ff95120c940800df9f59ab15cf1.png");
  }
  .flip-card3-back {
    background-image: url("https://blog.spoongraphics.co.uk/wp-content/uploads/2017/landscape-illustrations/31.jpg");
  }

  .flip-card-back > p {
    font-size: 1rem;
    transform: translateZ(80px);
  }
}

// skills

// eduaction

.education {
  position: relative;
  height: 100vh;
  background-image: url("../images/abstract.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}
.edu-heading {
  margin-top: 100px;
  margin-left: 500px;
  font-size: 5rem;
  text-align: center;
}
.skill__heading {
  color: #000000;
  margin-top: 300px;
  margin-left: 600px;
  font-size: 5rem;
  text-align: center;
}

.skill__sub__heading {
  color: #000000;
  // margin-top: 300px;
  margin-left: 600px;
  letter-spacing: 0.3rem;
}

.edu-sub-heading {
  margin-left: 550px;
  letter-spacing: 0.3rem;
}

.education__info__container {
  margin-left: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  .education__info {
    position: absolute;
    margin: 20px;
    padding: 5px;
    width: 400px;
    border: 5px solid white;
  }

  .education__info1 {
    z-index: 4;
    top: 250px;
  }
  .education__info2 {
    z-index: 4;
    top: 850px;
  }
  .education__info3 {
    z-index: 4;
    top: 1450px;
  }

  .edu-sub {
    /* width: 300px; */
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}

.skills {
  position: relative;

  .skill {
    position: absolute;
    left: 1200px;
    color: black;
    background-color: white;
    padding: 15px 25px;
    border: 4px solid black;
    font-weight: bold;
    transition: background-color 0.3s ease;
    box-shadow: 10px 10px 6px rgb(119, 119, 119);
  }

  .skill:hover {
    background-color: black;
    color: white;
  }

  .skill1 {
    left: 1350px;
    top: 800px;
  }
  .skill2 {
    left: 1150px;
    top: -50px;
  }
  .skill3 {
    left: 950px;
    top: 1550px;
  }
  .skill4 {
    left: 1010px;
    top: 100px;
  }
  .skill5 {
    left: 1200px;
    top: 1300px;
  }
  .skill6 {
    left: 1150px;
    top: 300px;
  }
  .skill7 {
    left: 1350px;
    top: 1600px;
  }
  .skill8 {
    left: 1000px;
    top: 400px;
  }
  .skill9 {
    left: 1350px;
    top: 300px;
  }
}
// contact
.contact {
  @include flex();
  flex-direction: column;
  height: 100vh;
  background-color: #ffffff;
  color: black;
}

.contact > h1 {
  text-align: center;
  font-size: 6rem;
}

.contact__form {
  align-self: center;
  justify-self: center;
  @include flex();
  flex-direction: column;
  width: 100%;
}

input[type="text"],
textarea {
  width: 500px;
  padding: 12px 20px;
  border: 3px solid rgb(0, 0, 0);
  margin: 20px 0;
}

.contact__btn {
  padding: 12px 20px;
  border: 3px solid rgb(0, 0, 0);
  outline: none;
}

.contact__btn:hover {
  background-color: black;
  color: white;
}

.contact__btn:active {
  background-color: black;
  color: white;
}

// footer

.footer {
  background-color: #000000;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
}
.social-media {
  // margin-top: 2rem;
  display: flex;
  justify-self: center;
  align-items: center;
}

.social-media > a {
  text-decoration: none;
}
.fa {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;

  margin: 0 20px;

  transition: font-size 0.2s ease-in-out;

  color: white;
}
.fa:hover {
  opacity: 0.5;
}
