/* color pallete
#5680E9 #84CEEB #5AB9EA #C1C8E4 #8860D0 */
*{
  box-sizing: border-box;
  color: whitesmoke;
}
html , body {
  padding: 0;
  border: 0;
  margin: 0;

  width: 100%;
}
header , nav , section ,div ,a ,footer{
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Poppins', sans-serif;
}
header{
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background-image: linear-gradient(180deg ,#5680E9 , #5AB9EA);
}
nav{
  height: 60px;
  width: 50%;
  justify-content:flex-end;
}
div.nav{
  min-height: 100%;
  width: 100px;
  margin: 20px;
  transition: transform .4s;
}
div.nav:hover{
  transform: scale(1.3);
  border-bottom: 2px solid white;
}
a{
  text-decoration: none;
}
.svg_logo{
  height:100px;
  width: 100px;
  margin-top: 50px;
  font-family: sans-serif;
  margin: 20px;
}
h1.logo{
  font-size: 2rem;
  color: whitesmoke;
  margin: 20px;
}
section.contact{
  height: 100vh;
}
div.section{
  flex: 1;
  flex-direction: column;

}
h1.section{
    color: #2F2E41;
    font-size: 3rem;
}
p.section{
  color: #2F2E41;
}
h2.section{
    color: #5AB9EA;
    font-size: 1rem;
}
h3.section{
    color: #5AB9EA;
    font-size: 2rem;
    border: 3px solid #5AB9EA;
    border-radius: 5px;
    padding: 5px;
}
div.SVG{
  flex: 1;
  height:50%;
  width: 100%;
  background-image: url('../SVGs/undraw_ideas_s70l (1).svg');
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;

}
article{
  flex-direction: column;
}
section.sec1{
  flex-direction: column;
  /* background-image: url("../images/bg.jpg");
  background-size: contain; */

}
div.article{
  flex-direction: column;
  height: 500px;
  width: 60%;
  background-image: linear-gradient(to top ,#51C0EC, #2E6AFF);
  margin: 20px;
  border-radius: 6px;
  border-radius: 50%;
}
/* div.article{
  flex-direction: column;
  height: 500px;
  width: 60%;
  background-image: linear-gradient(to bottom ,#51C0EC, #2E6AFF);
  margin: 20px;
  border-radius: 6px;
  border-radius: 1% 1% 1% 60%
} */
img.div_article{
  top:10px;
  right: 10px;
  height: 200px;
  border-radius: 4px;
}
h1.div_article{
  font-size: 2rem;
}
p{
  font-size: 1.4rem;
  padding: 20px;
}
footer{
  height: 80px;
  background-image: linear-gradient(180deg  , #5AB9EA,#5680E9);
  padding: 15px;

}
