// @function flexIt(){
//     @return display:flex;
//     justify-content:center;
//     align-items:center;
// }

// $flexIt:{
//     display: flex;
//     justify-content:center;
//     align-ime
// }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Ubuntu", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(world.jpg);
  background-size: cover;
}
.header-h1 {
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;

  height: 10vh;
  width: 100vw;
}
.enter-country {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  height: 20vh;
}

.input-container {
  position: fixed;
  margin: auto;
  height: 11rem;
  max-width: 20rem;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .label {
    color: rgb(255, 255, 255);
    margin: 5px;
  }
  .input {
    min-height: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 5px;
    padding: 5px;
  }
  .country-submit {
    background-color: rgb(34, 59, 66);
    box-shadow: 5px 5px 5px rgb(76, 87, 90);

    color: white;
    min-height: 50px;
    width: 80px;
    margin: 1rem;
    border: none;
    border-radius: 5px;
  }
}
.card-sec {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100vw;

  transition: opacity 0.7s;
}
.card-container {
  height: 450px;
  width: 300px;
  // glass
  background-color: rgba(255, 255, 255 0.05);
  backdrop-filter: blur(10px);
  border: solid 5px transparent;
  background-clip: padding-box;

  margin: 1rem;

  border-radius: 10px;

  //   background-color: blue;
  box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);

  .card-flag-img {
    border-radius: 10px 10px 0 0;
    height: 180px;
    width: 300px;
    object-fit: cover;
  }

  .card-info {
    padding: 10px;
    margin-left: 1rem;
    margin-top: 1rem;
    .other-info-1 {
      margin-top: 1.5rem;
    }
    .info-country {
      font-size: 2rem;
      color: rgb(31, 31, 31);
    }
    .info-continent {
      font-size: 1rem;
      color: rgb(31, 31, 31);
    }
    .other-info {
      color: rgb(49, 49, 49);
      color: rgb(31, 31, 31);
      margin: 0.8rem;
    }
  }
}
.neighbour {
  transform: scale();
}
.hidden {
  opacity: 0;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;

  height: 8vh;
  width: 100%;
}
