* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  height: 100vh;
  background-image: url("assets/imgs/glass.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8vh;
  width: 100%;
  color: white;
  font-size: 2.5rem;
  opacity: 0;
  -webkit-animation: trivia 1s forwards 0.5s ease-in-out;
          animation: trivia 1s forwards 0.5s ease-in-out;
}

@-webkit-keyframes trivia {
  0% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
    opacity: 0;
  }
  90% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0.9;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes trivia {
  0% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
    opacity: 0;
  }
  90% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0.9;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.trivia-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2rem;
}

.tab-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80vw;
  -webkit-animation: startAnimate 0.8s forwards 0s ease-in-out;
          animation: startAnimate 0.8s forwards 0s ease-in-out;
}

@media (min-width: 800px) {
  .tab-btn-container {
    width: 40vw;
  }
}

.tab-btn-container .btn {
  padding: 0.6rem 1rem;
  width: 5.5rem;
  color: white;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: none;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.tab-btn-container .btn:focus {
  outline: none;
}

.tab-btn-container .active-tab {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  background-color: rgba(255, 255, 255, 0.3);
}

.input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2rem;
  color: white;
  -webkit-transition: display;
  transition: display;
  -webkit-animation: startAnimate 0.8s forwards 0.3s ease-in-out;
          animation: startAnimate 0.8s forwards 0.3s ease-in-out;
}

.input-container .input {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}

.input-container .input .label {
  margin: 1rem;
}

.input-container .input .enter-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 1rem;
  width: 11rem;
  border-radius: 10px;
}

.input-container .input .btn-submit {
  padding: 0.5rem 1rem;
  margin: 1rem;
  color: white;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.input-container .input .btn-submit:focus {
  outline: none;
}

.input-container .input .btn-submit:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.input-container .active-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.2rem 2rem;
  color: rgba(255, 255, 255, 0.3);
  -webkit-animation: startAnimate 0.8s forwards 0.6s ease-in-out;
          animation: startAnimate 0.8s forwards 0.6s ease-in-out;
  border: solid 2px transparent;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background-clip: padding-box;
}

.fact-container .fact-h3 {
  font-size: 2rem;
  margin: 1rem;
}

@-webkit-keyframes startAnimate {
  0% {
    -webkit-transform: rotate(0) translateX(-300px);
            transform: rotate(0) translateX(-300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
}

@keyframes startAnimate {
  0% {
    -webkit-transform: rotate(0) translateX(-300px);
            transform: rotate(0) translateX(-300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background-clip: padding-box;
  height: 5vh;
  width: 100%;
  color: white;
}
/*# sourceMappingURL=main.css.map */