* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  height: 50vh;
}

footer {
  @include flex();

  background-color: black;
  color: white;

  height: 5vh;
  width: 100%;
}
