@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: "Darker Grotesque", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

.welcome__page {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  background-image: url("../img/bodyBcg.jpg");
  background-position: center;
}

.welcome__page > h1 {
  font-size: 4rem;
  margin: 100px;
  text-align: center;
  font-weight: 900;
  line-height: 60px;

  color: rgba(189, 126, 25, 0.9);
  /* text-shadow: 1px 1px 5px rgba(83, 53, 5, 0.9); */
}

.card__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
  width: 200px;

  border-radius: 10px;

  box-shadow: 5px 5px 5px rgba(66, 66, 66, 0.5);

  transition: box-shadow 0.3s ease;
  transition: transform 0.3s ease;

  background-color: rgba(102, 55, 0, 0.788);
  backdrop-filter: blur(20px);
  /* margin: 20px; */
}

.card:hover {
  box-shadow: 8px 8px 5px rgba(66, 66, 66, 0.5);
  transform: scale(1.05);
}

.card__image {
  height: 60%;
  width: 80%;
  object-fit: contain;
}
