* {
  margin: 0;
  padding: 0;

  background-color: rgb(255, 255, 255);

  box-sizing: border-box;
}
@mixin flex($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

body {
  @include flex(column);
}

.header {
  // width: 100%;
  text-align: center;
}

.puzzle__frame {
  @include flex(row);
  .puzzle__Canvas {
    // height: 40vh;
  }
}
