* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  height: 95vh;
}

.home {
  display: flex;
  flex-direction: column;
}

.home__child {
  align-self: center;
}

.img__flag {
  align-self: center;
  height: 100px;
  object-fit: contain;
}

.card-container {
  height: 450px;
  width: 300px;
  // glass
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: solid 5px transparent;
  background-clip: padding-box;

  margin: 1rem;

  border-radius: 10px;

  //   background-color: blue;
  box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);

  .card-flag-img {
    border-radius: 10px 10px 0 0;
    height: 180px;
    width: 300px;
    object-fit: cover;
  }

  .card-info {
    padding: 10px;
    margin-left: 1rem;
    margin-top: 1rem;
    .other-info-1 {
      margin-top: 1.5rem;
    }
    .info-country {
      font-size: 2rem;
      color: rgb(31, 31, 31);
    }
    .info-continent {
      font-size: 1rem;
      color: rgb(31, 31, 31);
    }
    .other-info {
      color: rgb(49, 49, 49);
      color: rgb(31, 31, 31);
      margin: 0.8rem;
    }
  }
}

footer {
  @include flex();

  background-color: black;
  color: white;

  height: 5vh;
  width: 100%;
}
