* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Manrope", sans-serif;
}
@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section {
  @include flex();
  flex-direction: column;
  background-color: rgb(241, 245, 254);
  clip-path: polygon(
    0 0,
    80% 0%,
    100% 0,
    100% 80%,
    100% 100%,
    32% 93%,
    0% 80%,
    0% 20%
  );
}
.header {
  @include flex();
  flex-direction: column;

  width: 100%;
  height: 10rem;

  .header-h1 {
    font-size: 1.7rem;
    color: #293356;
  }
  .header-h2 {
    font-size: 1rem;
    color: rgb(133, 143, 190);
  }
}

// main-card--------------------------------
.main-card {
  @include flex();
  flex-direction: column;

  height: 32rem;
  width: 60%;
  margin: 10rem;
  border: 2px xsolid rgb(241, 241, 241);
  border-radius: 5px;
  box-shadow: 10px 10px 15px 10px rgb(184, 184, 184);

  .pageviews {
    font-weight: bolder;
    margin-right: 5rem;
    letter-spacing: 0.5rem;
    color: gray;
  }
  .price {
    font-size: 2rem;
    font-weight: bolder;
    color: rgb(41, 51, 86);
  }
  .per-month {
    margin-left: 1rem;
    color: gray;
  }
  .slider {
    height: 10px;
    width: 80%;
    border-radius: 10px;
    background-color: #2196f3;
    margin: 4rem;
  }
  .billing-info {
    @include flex();
    height: 4rem;
    width: 80%;
    justify-content: space-around;
    position: relative;
    color: gray;
    font-size: 1.4rem;

    // toggle-switch--------------------------------
    .sub-billing-info {
      margin-left: 2rem;
    }

    .discount {
      background-color: rgb(254, 236, 231);
      border-radius: 20px;
      padding: 0.5rem 1rem;
      font-size: 0.8rem;
      font-weight: bolder;
      color: rgb(249, 142, 101);
    }

    .toggle-switch {
      .switch {
        position: absolute;
        top: -45px;
        left: 220px;
        display: block;
        width: 60px;
        height: 60px;
      }

      /* Hide default HTML checkbox */
      .switch input {
        display: none;
      }

      /* The slider */
      .slider {
        width: 53px;
        height: 27px;
        position: absolute;
        cursor: pointer;
        // top: -45px;
        // left: -80px;
        // right: 0;
        // bottom: 0;
        background-color: #2196f3;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        border: 2px solid#65b4f5;
      }

      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: rgb(255, 255, 255);
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }

      // input:checked + .slider {
      //   background-color: #2196f3;
      //   border: 2px solid #2196f3;
      // }

      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }

      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }

      .slider.round:before {
        height: 15px;
        width: 15px;
        border-radius: 50%;
      }
    }
  }
  .benefits-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    // get curtom marker--------------------------------
    .benefits {
      li {
        color: gray;
        letter-spacing: 0.1rem;
      }
      ul li::marker {
        content: "\2713"; /* Unicode bullet symbol */
        color: #2196f3;
        font-size: 1.5em;
      }
    }

    .btn {
      padding: 0.8rem 2rem;

      color: white;

      border: none;
      border-radius: 30px;
      background-color: #293356;
    }
  }
}
