* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  height: 100vh;
  background-image: url("img/glass.jpg");
  background-size: cover;
}

.name {
  height: 8vh;
  font-size: 3rem;
  color: white;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: solid 2px transparent;
  background-clip: padding-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input .input-container {
  border-radius: 3px;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input .input-container .label {
  color: white;
  margin: 5px;
}

.input .input-container .enter-input {
  height: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.input .input-container .btn-submit {
  background-color: rgba(66, 31, 113, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: solid 2px rgba(66, 31, 113, 0.5);
  background-clip: padding-box;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  color: white;
  height: 50px;
  width: 80px;
  margin: 1rem;
  border: none;
  border-radius: 5px;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.card-container .trivia-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: solid 2px transparent;
  background-clip: padding-box;
  padding: 1rem;
  max-width: 20rem;
  margin: 1rem;
  color: white;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 5px rgba(20, 20, 20, 0.5);
          box-shadow: 5px 5px 5px rgba(20, 20, 20, 0.5);
}

.card-container .number {
  font-family: "Poppins", sans-serif;
  font-size: 2.3rem;
  margin: 1rem;
  font-weight: bolder;
}

.card-container .trivia-para {
  font-family: "Poppins", sans-serif;
}

.hidden {
  opacity: 0;
}

footer {
  position: absolute;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  color: white;
  height: 5vh;
  width: 100%;
}
/*# sourceMappingURL=main.css.map */