a {
  text-decoration: none;
}

.card__container {
  align-self: center;
  height: 45vh;
  width: 80%;
  display: flex;
  overflow-x: scroll;

  align-items: flex-end;
  margin-top: 100px;
  padding-left: 35px;
  padding-right: 35px;
}

@media (max-height: 720px) {
  .card__container {
    height: 80vh;
  }
}
