.card {
  min-height: 250px;
  min-width: 200px;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin: 10px;

  background-color: rgba(25, 129, 199, 0.3);
  backdrop-filter: blur(20px);
  border-radius: 15px;

  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
}

.card__img {
  position: absolute;
  top: -50px;
  height: 130px;
  border-radius: 100px;
  z-index: 2;
  box-shadow: 10px 10px 5px rgb(0, 0, 0, 0.5);
}

.card > h2 {
  color: rgb(0, 0, 0);
}
