.foodJoke {
  height: 100vh;
  background-image: url("./assets/taco.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.foodJoke > h1 {
  align-self: center;
  justify-self: center;
  text-align: center;
  width: 60%;
  height: 50vh;

  margin: 50px 0;
  overflow-y: scroll;

  font-size: 3.5rem;
  color: #fd893c;
  text-shadow: 2px 2px #c7621f;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@media (max-width: 460px) {
  .foodJoke > h1 {
    font-size: 2.5rem;
    width: 98%;
  }
}

.foodJoke > button {
  align-self: center;
  justify-self: center;
  width: 200px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #f0843c;
  color: #ffdca0;
  font-weight: bolder;
  border: none;
  outline: none;
  transition: padding 0.1s ease-in-out;
}

.foodJoke > button:active {
  background-color: #ff7316;
  padding: 8px 22px;
}
